<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--本来是使用标注注入Bean的，但是不生效，不明白为什么，所以这里使用xml注入-->
    <bean id="resultCacheManager" class="com.whz.scheduling.cleanCache.ResultCacheManager"/>

    <bean id="dossierResultDeleteScheduler" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="resultCacheManager" />
		</property>
		<property name="targetMethod">
			<value>deleteResultCache</value>
		</property>
        <!-- 定义参数 删除执行时间前多少分钟的结果数据：单位是分钟 该参数是deleteResultCache方法的入参 -->
		<property name="arguments">
	        <list>
	             <value>1</value>
	        </list>
	    </property> 
		<property name="concurrent">
			<value>false</value>
		</property>
	</bean>
	
	<bean id="dossierResultDeleteTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref local="dossierResultDeleteScheduler" />
		</property>
		<property name="cronExpression">
			<value>0/10 * * * * ?</value>
		</property>
	</bean>
	
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref local="dossierResultDeleteTrigger" />
			</list>
		</property>
	</bean>

</beans>
