<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="waiterTarget" class="com.whz.aop.autoproxy.WaiterImpl">
        <property name="testString" value="test"></property>
    </bean>
    <bean id="greetingAdvice" class="com.whz.aop.autoproxy.GreetingBeforeAdvice"/>

    <!--Advisor是切点和增强的复合体，Advisor本身已经包含了足够的信息：横切逻辑（要织入什么）以及连接点（织入到哪里）-->
    <!--DefaultAdvisorAutoProxyCreator能够扫描容器中的Advisor，并将Advisor自动织入到匹配的目标Bean中，即为匹配的目标Bean自动创建代理-->
    <bean id="regexpAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor"
          p:pattern=".*greet.*"
          p:advice-ref="greetingAdvice"/>
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

</beans>