<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info" additivity="false">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>


<!--
    使用此配置时只需在测试类中添加如下代码即可：
    private static final org.slf4j.Logger logger = org.slf4j.LoggerFactory.getLogger(Test.class);
    static {
        try {
            File config = ResourceUtils.getFile(ResourceUtils.CLASSPATH_URL_PREFIX + "log4j2.xml");
            ConfigurationSource source = new ConfigurationSource(new FileInputStream(config),config);
            Configurator.initialize(null, source);
        } catch (Exception e){}
    }
-->
