<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!--注册邮件发送事件的监听器-->
    <bean class="com.whz.event.MailSendListener"/>
    <!--注册一个邮件发送器-->
    <bean id="mailSender" class="com.whz.event.MailSender"/>

    <bean class="com.whz.event.ContextRefreshedListener"/>


</beans>
