<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">

    <mvc:interceptors>
        <mvc:interceptor>
            <!-- 进行拦截：/**表示拦截所有Controller，注意不拦截那些不是Controller处理的请求-->
            <mvc:mapping path="/**" />
            <!-- 不进行拦截 -->
            <mvc:exclude-mapping path="/test.html"/>
            <bean class="com.whz.web.filter.TestInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>

</beans>
