<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:p="http://www.springframework.org/schema/p"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<!--Spring MVC上下文中默认没有装配MultipartResolver，因此默认情况下不能处理文件的上传工作。如果想使用Spring的文件上传
	功能，需要现在上下文中配置MultipartResolver-->
	<!--p:maxUploadSize="5242880" 上传文件大小限制、单位为字节，这里表示5MB-->
	<!--p:uploadTempDir="upload/temp" 上传文件的临时路径-->
	<bean id="multipartResolver"
		  class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
		  p:defaultEncoding="utf-8"/>


</beans>
