<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">


    <!-- 使用默认视图名的Handler -->
    <bean id="urlFilenameViewController" class="org.springframework.web.servlet.mvc.UrlFilenameViewController"/>

    <!-- 需要配置相应视图的Handler -->
    <bean name="parameterizableViewController" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
        <property name="viewName" value="success"/>
    </bean>

    <!-- 封装了一个Servlet 用于处理DispatcherServlet转发的请求-->
    <bean name="servletForwardingController" class="org.springframework.web.servlet.mvc.ServletForwardingController">
        <property name="servletName" value="forwarding"/>
    </bean>

    <!-- 自定义的控制器类，一个控制器处理一个请求 -->
    <bean id="testAbstractController" class="com.whz.web.controller.test.TestAbstractController"/>

    <!-- 配置 multiActionController 一个控制器类可以处理多个请求 -->
    <bean id="springMethodNameResolver" class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
        <property name="mappings">
            <props>
                <prop key="/multiAction1.html">multiAction1</prop>
                <prop key="/multiAction2.html">multiAction2</prop>
                <prop key="/multiAction3.html">multiAction3</prop>
            </props>
        </property>
    </bean>
    <bean id="multiActionController" class="com.whz.web.controller.test.TestMultiActionController">
        <property name="methodNameResolver" ref="springMethodNameResolver"/>
    </bean>





    <!-- 配置请求映射关系 -->
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <!-- 无需配置视图名称，会根据请求的url直接重定向到 success.jsp 页面 -->
                <prop key="success.html">urlFilenameViewController</prop>

                <!--需要在 parameterizableViewController 配置对应的视图名称-->
                <prop key="testParameterizableViewController.html">parameterizableViewController</prop>

                <!--将请求委托给 forwarding 这个Servlet来处理 -->
                <prop key="testServletForwardingController.html">servletForwardingController</prop>

                <!-- 将请求转发给 testAbstractController 处理 -->
                <prop key="testAbstractController.html">testAbstractController</prop>

                <prop key="/multiAction1.html">multiActionController</prop>
                <prop key="/multiAction2.html">multiActionController</prop>
                <prop key="/multiAction3.html">multiActionController</prop>

            </props>
        </property>
    </bean>

</beans>
  